In [2]:
import requests
import pandas as pd
import time
import simfin as sf
from simfin.names import *

In [3]:
sf.set_api_key('xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx')
# Set the local directory where data-files are stored.
# The dir will be created if it does not already exist.
sf.set_data_dir('~/simfin_data/')

In [14]:
# Load all companies in the US.
# The data is automatically downloaded if you don't have it already.
df = sf.load_industries()
df_industries = df.copy()
df_industries.head()

Dataset "industries" not on disk.
- Downloading ... 100.0%
- Extracting zip-file ... Done!
- Loading from disk ... Done!

                 Sector                    Industry
IndustryId
100001      Industrials         Industrial Products
100002      Industrials           Business Services
100003      Industrials  Engineering & Construction
100004      Industrials            Waste Management
100005      Industrials     Industrial Distribution

In [17]:
#replace null values
df_industries = df_industries.fillna(0)
df_industries

                     Sector                    Industry
IndustryId
100001          Industrials         Industrial Products
100002          Industrials           Business Services
100003          Industrials  Engineering & Construction
100004          Industrials            Waste Management
100005          Industrials     Industrial Distribution
...                     ...                         ...
110004      Basic Materials             Metals & Mining
110005      Basic Materials          Building Materials
110006      Basic Materials                        Coal
110007      Basic Materials                       Steel
111001                Other        Diversified Holdings

[74 rows x 2 columns]

In [18]:
# add id column
df_industries.insert(0, 'id', range(1, 1 + len(df_industries)))

In [19]:
# clean columns names
df_industries.columns = [x.lower().replace(" ", "_").replace("?", "").replace("-", "_") \
    .replace(r"/","_").replace("\\","_").replace("%","_per").replace(")","") \
         .replace(r"(","").replace("$","").replace(":", "").replace(",","") for x in df_industries.columns]
df_industries.columns

Index(['id', 'sector', 'industry'], dtype='object')

In [20]:
#save to csv
df_industries.to_csv('csv/industries.csv', index=True, sep=';', encoding='utf-8', float_format='%.0f')